* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    /* fonte da página, localizada no head */
}
 /* Estilização do corpo da página */
 body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    background-image: url(images/opacity.jpg);
 }

/* Estilização do contêiner de login */
.container {
    width: 420px;
    background-color: white;
    border: 2px solid rgb(255, 0, 0, );
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(10px);
}

title h1{
    position: relative;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 100px;
    flex-wrap: wrap;
}

background-container {
    width: 100%;
    height: 200px;
    background-color: red;
    background-size: cover;
    background-position: center;
}
/* Estilização do formulário de email */
.input-box {
    position: relative;
    width: 100%;
    margin: 30px 0;
}
.input-box input {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    font-size: 16px;
    padding: 10px 35px 10px 10px;
}
.input-box input::placeholder {
    color: rgb(24, 24, 24);
}
.input-box i {
    position:absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.options-password {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
    /* margin & padding
     1 valor - todos os lados 
     2 valores - primeiro: cima e baixo | segundo: esquerda e direita
        3 valores - primeiro: cima | segundo: esquerda e direita | terceiro: baixo   
    
    
    */
}
.options-password label  {
    accent-color: rgb(255, 0, 0);
    margin-right: 5px;
}
.options-password a {
    text-decoration: none;
    color: rgb(255, 0, 0);
}
.options-password a:hover {
    text-decoration: underline;
}
.login {
    display: flex;
    flex: 1;
    text-decoration: none;
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 135px;

}

.login:hover {
    background-color: rgb(190, 0, 0);
}
.cadastro {
    font-size: 12px;
    text-align: center;
    margin: 18px 0 10px;
}
.cadastro a {
    text-decoration: none;
    color: rgb(255, 0, 0);
}
.cadastro a:hover {
    text-decoration: underline;
}
.error {
    color: #ff4040;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: 200;
}